@charset "UTF-8";
@font-face{
    font-family: 'Gnaw';
    src: url('Fonts/Gnaw FREE.ttf');
    src: url('Fonts/Gnaw FREE.ttf') format('truetype');
}
.grid-container{
    display:grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 17% 3% 22% 22% 22% auto;
    margin:0px;
}
.head{
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:2;
    background-image: url("../images/headb.png");
    text-align:center;
}
.head > img{
    text-align:center;
    align-content: center;
    justify-content: center;
    height: 100%;
}
.navigation{
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:3;
    background-color:rgb(230, 0, 0);
    color:white;
    text-align:right;
    font-weight: bolder;
    font-size: 20px;
    padding-right: 10px;
    box-shadow: 0 4px 2px -2px gray;
    z-index:2;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}
.navigation a{
    text-decoration:none;
    color:white;
    box-shadow: 0 4px 2px -2px orange;
}
#pic1{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:3;
    grid-row-end:4;
    color:transparent;
    background-size: 100%;
    animation-iteration-count: infinite;
    animation-name: picture-one;
    animation-duration: 8s;
}
@keyframes picture-one{
    0%{
        background-image: url("../images/comp2.jpg");
    }
    16%{
        background-image: url("../images/eat.jpg");
    }
    32%{
        background-image: url("../images/swim.jpg");
    }
    50%{
        background-image: url("../images/log.jpg");
    }
    70%{
        background-image: url("../images/game.jpg");
    }
    100%{
        background-image: url("../images/soccer.jpg");
    }
}
#pic2{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:4;
    grid-row-end:5;
    color:transparent;
    animation-iteration-count: infinite;
    animation-name: picture-two;
    animation-duration: 8s;
    background-size:100%;
}
@keyframes picture-two{
    0%{
        background-image: url("../images/soccer.jpg");
    }
    16%{
        background-image: url("../images/comp2.jpg");
        
    }
    32%{
        
        background-image: url("../images/eat.jpg");
    }
    50%{
        background-image: url("../images/swim.jpg");
        
    }
    70%{
        background-image: url("../images/log.jpg");
        
    }
    100%{
        background-image: url("../images/game.jpg");
        
    }
}
#pic3{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:5;
    grid-row-end:6;
    color:transparent;
    animation-iteration-count: infinite;
    animation-name: picture-three;
    animation-duration: 8s;
    background-size:100%;
}
@keyframes picture-three{
    0%{
        background-image: url("../images/game.jpg");
    }
    16%{
        background-image: url("../images/soccer.jpg");
    }
    32%{
        background-image: url("../images/comp2.jpg");
    }
    50%{
        background-image: url("../images/eat.jpg");
    }
    70%{
        background-image: url("../images/swim.jpg");
    }
    100%{
        background-image: url("../images/log.jpg");
    }
}
#pic4{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:3;
    grid-row-end:4;
    color:transparent;
    animation-iteration-count: infinite;
    animation-name: picture-four;
    animation-duration: 8s;
    background-size:100%;
}
@keyframes picture-four{
    0%{
        background-image: url("../images/log.jpg");
    }
    16%{
        background-image: url("../images/game.jpg");
    }
    32%{
        background-image: url("../images/soccer.jpg");
    }
    50%{
        background-image: url("../images/comp2.jpg");
    }
    70%{
        background-image: url("../images/eat.jpg");
    }
    100%{
        background-image: url("../images/swim.jpg");
    }
}
#pic5{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:4;
    grid-row-end:5;
    color:transparent;
    animation-iteration-count: infinite;
    animation-name: picture-five;
    animation-duration: 8s;
    background-size:100%;
}
@keyframes picture-five{
    0%{
        background-image: url("../images/swim.jpg");
    }
    16%{
        background-image: url("../images/log.jpg");
    }
    32%{
        background-image: url("../images/game.jpg");
    }
    50%{
        background-image: url("../images/soccer.jpg");
    }
    70%{
        background-image: url("../images/comp2.jpg");
    }
    100%{
        background-image: url("../images/eat.jpg");
    }
}
#pic6{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:5;
    grid-row-end:6;
    color:transparent;
    animation-iteration-count: infinite;
    animation-name: picture-six;
    animation-duration: 8s;
    background-size:100%;
}
@keyframes picture-six{
    0%{
        background-image: url("../images/eat.jpg");
    }
    16%{
        background-image: url("../images/swim.jpg");
    }
    32%{
        background-image: url("../images/log.jpg");
    }
    50%{
        background-image: url("../images/game.jpg");
    }
    70%{
        background-image: url("../images/soccer.jpg");
    }
    100%{
        background-image: url("../images/comp2.jpg");
    }
}
.words{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:6;
    font-family: 'Gnaw';
    padding:7px;
}